@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&display=swap');

body{
    font-family: "Questrial", serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*INTRO*/
.intro {
    background-image: url("../assets/background/banner\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    line-height: 24px;
    width: 100vw;
    height: 100vh;
}
.intro-box{
    padding: 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.intro-title{
    font-size: 48px;
    width: 60%;
    font-weight: 700;
    margin-bottom: 1%;
}
.intro-text{
    margin-bottom: 1%;
}
.intro-link{
    background-color: #d3ab4c;
    color: #1c2421;
    font-weight: 700;
    padding: 1%;
    border-radius: 25px;
    display: flex;
    align-items: center;
}
.intro-arrow{
    width: 15px;
    padding: 3px;
    border: 1px solid #1c2421;
    border-radius: 15px;
    margin-left: 5px;
}

/*ABOUT*/
.about{
    background-image: url("/assets/background/sobre\ nós.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    line-height: 24px;
    width: 100vw;
    height: 100vh;
}
.about-sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 75%;
    padding: 0 10% 0 0;
}
.about-title{
    color: #00222e;
    font-weight: 700;
}
.about-h3{
    font-size: 24px;
    display: flex;
    align-items: center;
}
.title-line{
    background-color: #d3ab4c;
    width: 100px;
    height: 1px;
    margin: auto auto auto 2%;
    border: 1px solid #d3ab4c;
}
.about-h2{
    font-size: 42px;
}
.about-img{
    width: 500px;
    height: 450px;
    border-radius: 2%;
}

/*AREAS*/
.areas{
    background-color: #00222e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.areas-title{
    color: white;
    font-size: 32px;
    font-weight: 500;
}
.areas-subtitle{
    color: white; 
}
.areas-cards{
    display: flex;
    flex-direction: column;
}
.areas-cardsline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.areas-icones{
    width: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0f3441;
    font-size: 14px;
    width: 25%;
    margin: 1%;
    padding: 5% 0 5% 0;
}

/*BLOG*/
.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.blog-title{
    color: #0f3441;
    font-size: 32px;
    font-weight: 500;
}
.blog-subtitle{
    color: #0f3441;
}
.blog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.blog-container-sec{
    display: flex;
    width: 100%;
    height: 100%;
}
.blog-container-card1{
    width: 100%;
    height: 100%;
    background-image: url("/assets/blog/card1.jpg");
    background-size: cover;
}
.blog-container-card2{
    background-image: url("/assets/blog/card2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card3{
    background-image: url("/assets/blog/card3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card4{
    background-image: url("/assets/blog/card4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card5{
    background-image: url("/assets/blog/card5.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card6{
    background-image: url("/assets/blog/card6.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}

/*EQUIPE*/
.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/background/equipe.png");
    background-position: 75% 0%;
}
.equipe-sec{
    display:flex;
}
.equipe-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
}
.equipe-img{
    width: 35%;
}

/*REVIEWS*/
.reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.reviews-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.reviews-cards{
    background-color: #cac7c1;
}

/*FALE CONOSCO*/
.fale-conosco-titulo{
    background-color: #00222e;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fale-conosco-contato{
    background-image: url("../assets/background/contato.png");
}
/*FOOTER*/
.rodape{
    background-color: #00222e;
    display: flex;
    justify-content: space-around;
}

/*COPYRIGHT*/
.copyright{
    background-color: #0f3441;
    display: flex;
    justify-content: space-between;
    color: white;
}