@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Questrial", serif;
    width: 100vw;
    height: 100vh;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1% 0 0 0;
    background-color: #08242c;
}
.logo{
    width: 25%;
    margin: 0 0 0 5%;
}
.logo-img{
    width: 50%;
}
.links{
    width: 50%;
    margin: 0 10% 0 0;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
}
.nav-links li:hover{
    color: #d8ac4c;
    border-top: 1px solid #d8ac4c;
    border-bottom: 1px solid #d8ac4c;
    padding: 1%;
    cursor: pointer;
}
.socials{
    width: 15%;
}
.nav-socials{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-socials-icones{
    border: 1px solid white;
    border-radius: 50%;
    width: 50%;
    padding: 15%;
}


/*INTRO*/
.intro {
    background-image: url("../assets/background/banner\ 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.intro-box{
    margin: 10% 10% 5% 5%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.intro-title{
    font-size: 48px;
    width: 60%;
    font-weight: 700;
    margin-bottom: 2%;
}
.intro-text{
    margin-bottom: 1%;
    font-weight: 500;
    font-size: 20px;
}
.intro-link{
    background-color: #d3ab4c;
    color: #1c2421;
    font-weight: 700;
    padding: 1%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin: 1% 0 0 0;
}
.intro-arrow{
    width: 15px;
    padding: 3px;
    border: 1px solid #1c2421;
    border-radius: 15px;
    margin-left: 5px;
}

/*ABOUT*/
.about{
    background-image: url("/assets/background/sobre\ nós.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    width: 100vw;
    height: 100vh;
}
.about-sec1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 75%;
    padding: 0 5% 0 5%;
}
.about-title{
    color: #00222e;
    font-weight: 700;
}
.about-h3{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.title-line{
    background-color: #d3ab4c;
    width: 100px;
    height: 1px;
    margin: auto auto auto 2%;
    border: 1px solid #d3ab4c;
}
.about-h2{
    font-size: 42px;
}
.about-sec2{
    margin: 5% 5% 0 0;
}
.about-sec1-text{
    width: 90%;
    font-size: 18px;
    color: rgb(0, 0, 0);
    opacity: 0.85;
}
.about-sec1-text-p{
    margin-bottom: 3%;
}
.about-img{
    width: 500px;
    height: 450px;
    border-radius: 3%;
    box-shadow: 20px 20px 1px #d8ac4c;
}

/*AREAS*/
.areas{
    background-color: #00222e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 5% 0;
    padding: 0 0 5% 0;
}
.areas-title{
    color: white;
    font-size: 48px;
    font-weight: 660;
    margin: 3% 0 1% 0;
}
.areas-subtitle{
    color: white;
    font-size: 20px;
    margin: 1% 0 1% 0; 
}
.areas-cards{
    display: flex;
    flex-direction: column;
}
.areas-cardsline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.areas-icones{
    width: 15%;
}
.areas-icones-title{
    color: #d8ac4c;
    font-size: 24px;
    margin: 5% 0 5% 0;
}
.areas-icones-text{
    color: white;
    font-size: 16px;
    width: 90%;
    text-align: center;
    font-family: "Nunito", sans-serif;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #0f3441;
    font-size: 14px;
    width: 20%;
    margin: 1%;
    padding: 4% 1% 4% 1%;
    border-radius: 5%;
}
.card:hover{
    background-color: #144e63;
}

/*BLOG*/
.blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 0 5% 0;
}
.blog-title{
    color: #0f3441;
    font-size: 48px;
    font-weight: 600;
    margin: 1% 0 1% 0;
}
.blog-subtitle{
    color: #0f3441;
    font-size: 20px;
    margin: 1% 0 1% 0; 
}
.blog-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.blog-container-sec{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 2% 0 1% 2%;
}
.blog-container-card1{
    width: 100%;
    height: 100%;
    background-image: url("/assets/blog/card1.jpg");
    background-size: cover;
}
.blog-container-card2{
    background-image: url("/assets/blog/card2.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card3{
    background-image: url("/assets/blog/card3.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card4{
    background-image: url("/assets/blog/card4.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card5{
    background-image: url("/assets/blog/card5.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card6{
    background-image: url("/assets/blog/card6.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
.blog-container-card1, .blog-container-card2, .blog-container-card3, .blog-container-card4, .blog-container-card5, .blog-container-card6{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 400px;
    margin: 0 2% 0 0;
}
.blog-container-card-text{
    width: 50%;
    margin: 0 0 0 45%;
    background-color: rgba(0, 0, 0, 0.329);
}

/*EQUIPE*/
.equipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("/assets/background/equipe.png");
    background-size: cover;
    background-position: 50% 0%;
}
.equipe-title{
    color: #0f3441;
    font-size: 48px;
    font-weight: 600;
    margin: 3% 0 1% 0;
}
.equipe-subtitle{
    color: #0f3441;
    font-size: 20px;
    margin: 1% 0 1% 0; 
}
.equipe-sec{
    display:flex;
}
.equipe-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 1%;
    padding: 1%;
    border-radius: 5%;
    width: 380px;
    height: 360px;
    text-align: center;
}
.equipe-card-title{
    color: #00222e;
    font-size: 20px;
    font-weight: 600;
    margin: 1% 0 1% 0; 
}
.equipe-img{
    width: 45%;
    padding-bottom: 4%;
}
.equipe-card-text{
    color: rgb(114, 103, 103);
    padding-top: 4%;
}

/* REVIEWS */
.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.reviews-title {
    color: #0f3441;
    font-size: 48px;
    font-weight: 600;
    margin: 3% 0 1% 0;
}
.reviews-subtitle {
    color: #0f3441;
    font-size: 20px;
    margin: 1% 0 1% 0;
}
.reviews-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.reviews-container-grupos {
    display: flex;
    transition: transform 1.0s ease;
}
.reviews-container-grupo {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    box-sizing: border-box;
    opacity: 0; /* Esconde as divs inicialmente */
    transition: opacity 0.5s ease-in-out; /* Transição suave de opacidade */
}
.reviews-cards {
    background-color: #cac7c1;
    width: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 1% 0 0;
    border-radius: 8px;
    padding: 10px;
}
.seta-esq, .seta-dir {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 10;
    width: 30px;
    height: 30px;
}
.seta-esq {
    left: 10px;
}
.seta-dir {
    right: 10px;
}
.reviews-score {
    margin: 1% 0 3% 0;
}

/* Visibilidade do grupo ativo */
.reviews-container-grupo.active {
    opacity: 1; /* Torna o grupo visível quando a classe 'active' for adicionada */
}

/*FALE CONOSCO*/
.fale-conosco-titulo{
    background-color: #00222e;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0 2% 0;
}
.fale-conosco-titulo-container{
    width: 20%;
    display: flex;
    justify-content: center;
    padding: 1% 0 0 0;
}
.fale-conosco-titulo-frase{
    color: white;
    font-size: 28px;
    font-family: "Kaushan Script", cursive;
}
.fale-conosco-titulo-autor{
    color: #d8ac4c;
    font-size: 20px;
}

.fale-conosco-title-line{
    background-color: #d3ab4c;
    width: 25px;
    height: 1px;
    margin: auto 3% auto 2%;
    border: 1px solid #d3ab4c;
}
.fale-conosco-contato{
    background-image: url("../assets/background/contato.png");
    display: flex;
    justify-content: center;
}
.fale-conosco-contato-container{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 2% 0 0;
}
.fale-conosco-contato-container-heading{
    margin: 10% 0 5% 0;
}
.fale-conosco-contato-container-titulo{
    font-size: 42px;
    font-weight: 600;
}
.fale-conosco-contato-container-subtitulo{
    font-size: 20px;
}
.fale-conosco-contato-container-forms{
    display: flex;
    flex-direction: column;
}
.input-text{
    border-radius: 25px;
    border: 1px solid grey;
    background-color: #082434;
    color: rgba(255, 255, 255, 0.750);
    padding: 2%;
    margin: 0 0 5% 0;
}
.input-textarea{
    border-radius: 25px;
    border: 1px solid grey;
    background-color: #082434;
    color: rgba(255, 255, 255, 0.750);
    height: 200px;
    padding: 1%;
}
.input-button{
    color: white;
    background-color: #d8ac4c;
    border-radius: 25px;
    border: 1px solid #d8ac4c;
    margin: 5% 0 0 0;
    padding: 2%;
    font-size: 16px;
}
.fale-conosco-contato-container2{
    color: white;
    margin: 4% 0 0 0;
}
.fale-conosco-contato-container2-map{
    border-radius: 2%;
}
.fale-conosco-contato-container2-list{
    display: flex;
}


/*FOOTER*/
.rodape{
    background-color: #00222e;
    display: flex;
    justify-content: space-around;
    padding: 3% 0 5% 0;
}
.rodape-container-socials{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.rodape-titles{
    color: #d3ab4c;
    font-size: 22px;
}
.rodape-contitems{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rodape-contitems-sec{
    color: white;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 20px;
}
#rodape-contato{
    margin-bottom: 10%;
}

/*COPYRIGHT*/
.copyright{
    background-color: #0f3441;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: 500;
    padding: 10px 0 10px 0;
}